<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Radio Hype</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../web/css/bootstrap.css">
    </head>
    <body>
    {% block content %}
        Le bloc base
    {% endblock %}
    </body>
</html>