{% extends "layout/base.twig" %}

{% block content %}
	
	
	<div id="radio">
		{% block radio %}
	</div>
	
	<h1>Radio Hipster</1>
	
	<div id="research">
		{% block research %}
	</div>
	
	<div id="result">
		{% block result %}
	</div>
	
	<div id="top">
		{% block top %}
	</div>
	
	<div id="last">
		{% block last %}
	</div>
{% endblock %}